body {
    margin:auto;
    text-align: center;
    background: #265E98;
    color: white;
    font-family: Arial, Verdana, "Microsoft Sans Serif"
}
h1 {
    text-shadow: 5px 5px 5px #000000;
    font-size: 42px;
}
#container {
    margin:auto;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
#row1, #row2, #row3, #row4 {
    margin:auto;
    width:100%;
    height: 150px;
    text-align: center;
    clear: both;
}
#header {
    height: 125px;
    clear:both;
}
#logo {
    border: 2px solid black;
    width:100px;
    height:100px;
    float:left;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #333333;
}
#header img {
    float:left;
    height: 100px;
}
#header h1 {
    text-align: left;
    padding-left:125px;
    padding-top: 25px;
}
div.deskSpace {
    width:25%;
    height: 200px;
    float:left;
    text-align: center;
}
div.buttonSpace {
    width:33%;
    height: 60px;
    float:left;
    text-align: center;
    margin: auto;
}
#desk1, #desk2, #desk3, #desk4,
#desk5, #desk6, #desk7, #desk8,
#desk9, #desk10, #desk11, #desk12 {
    width: 90%;
    height: 100px;
    float: left;
    border: 2px solid black;
    margin:10px;
    text-align: center;
    padding-top: 15px;
    border-radius: 4px;
    background: saddlebrown;
    background-image: url("img_wood.jpg");
    color:#333333;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    box-shadow: 5px 5px 5px #333333;
}
#classes {
    text-align: center;
    margin:auto;
    width:100%;
    height: 150px;
}
div.button {
    border: 3px #666666 groove;
    width: 90%;
    height: 35px;
    border-radius: 25px;
    text-align: center;
    font-size:20px;
    letter-spacing: 2px;
    margin: auto;
    padding-top: 15px;
    font-weight: bold;
    background: gray;
    background: url("img_steel.jpg");
    color: black;
    text-shadow: 1px 1px 1px aliceblue;
    box-shadow: 5px 5px 5px #333333;
}